$color-primary: hsl(217, 28%, 15%);
$color-primary-1: hsl(218, 28%, 13%);
$color-primary-2: hsl(216, 53%, 9%);
$color-primary-3: hsl(219, 30%, 18%);

$color-secondary: hsl(176, 68%, 64%);
$color-secondary-1: hsl(198, 60%, 50%);

$color-white: hsl(0, 0%, 100%);
$color-text: #e7e7e7;