body {
    font-size: 1.4rem;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

a,
a:hover,
a:active,
a:visited,
a:link {
    text-decoration: none;
}

p {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;    
}